.addlocation{
    width: 100%;
    height: 100%;
    background: #0a0a0a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    
}
.pragraf{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee3e3;
    font-weight: 300;
    font-size: 4vh;
    letter-spacing: 2px;
    transition: all .6s ease;
}
.pragraf:hover{
    color: rgb(19, 134, 228);
}
.button_add{
    background: rgb(11, 108, 187);
    overflow: hidden;
    border: 1px solid rgb(11, 108, 187);
    border-radius: 4px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d1c8c8;
    font-weight: 300;
    font-size: 3vh;
    transition: all .6s ease;
    
    padding: 2vh 4vh;
    text-decoration: none;
}
.button_add:hover{
    background: rgb(19, 134, 228);
    transform: translateX(2px);

    color: #eee3e3;
}
@media(max-width:1200px){
    .addlocation{
        
    }
    .pragraf{
        font-size: 3.5vh;
        
    }
    .button_add{
        font-size: 3.5vh;
        padding: 1.3vh 2vh;
    }
}
@media(max-width:750px){
    .addlocation{
        
    }
    .pragraf{
        font-size: 2.5vh;
        
    }
    .button_add{
        font-size: 2.5vh;
        padding: 1.3vh 2vh;
    }
}
@media(max-width:570px){
    .pragraf{
        font-size: 1.5vh;
        display: none
    }
    .button_add{
        font-size: 1.5vh;
        
    }
}
