
.Addplace{
    background: linear-gradient( rgb(136, 137, 138),rgb(214, 209, 209));

    display: flex;
    align-items: center;
    justify-content: center;

}
.inp{
    width: 40%;
    height: 110vh;
    box-shadow: 0 1rem 1.5rem #111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.inputform{
    max-height:10vh ;
    min-height:4vh ;
    max-width: 80%;
    min-width: 80%;
    width: 70%;
    height: 4vh;
    outline: none;
    border: none;
    background: inherit;
    border-bottom: 1px solid #111;
    border-radius: 5px;
    font-size: 2.5vh;

}

.goback{
    padding: 1.3vh 2vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
    font-size: 2.6vh;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
    border: none;
    outline: none;
    background: rgb(233, 100, 100);
    box-shadow: 0 1vh 1.2vh #111;
    transition: all .5s ease-out;
}
.goback:hover{
    transform: translateY(1px)
}
.label_img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 1vh 4vh;
    font-size: 3vh;
    box-shadow: 0 .4vh .5vh #111;
    transition: all .4s ease;
    color: rgb(46, 45, 45)
}
.label:hover{
    transform: translateX(1px);
    background: rgb(112, 109, 109);
}
.index_image{
    width: 3vh;
    height: 3vh;
}
.sabt{
    background: rgb(20, 131, 196);
    color: #111;
    box-shadow: 0 .8vh 1vh #111;
    padding: 1.5vh 3vh;
    border-radius: 5px;
    font-size: 4.6vh;
    color: rgb(46, 45, 45);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid rgb(20, 131, 196);
    transition: all .4s ease;
}
.sabt:hover{
    transform: translateX(1px);
    background:rgb(8, 74, 112)
}
.sabt:disabled{
    cursor: not-allowed;
    background: rgb(107, 102, 102);
    border:none
}
.sabt:disabled:hover{
    transform: none;
    background: rgb(107, 102, 102);
    
}

.location{
    font-size: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 1vh 4vh;
    box-shadow: 0 .4vh .5vh #111;
    transition: all .4s ease;
    color: rgb(46, 45, 45);
    background: inherit;
    border: none;
}
.location:hover{
    transform: translateX(1px);
    background: rgb(112, 109, 109);
}

.loc{
    position: relative;
    width: 80%;
    height: 20vh;
}

.loc2{
    margin-top: 5vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
.spn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 3vh;
    background: rgb(128, 128, 128);
}
.notvalid{
    border-bottom:2px solid rgb(201, 14, 14);
}

.error{
    padding: 1.3vh 2.5vh;
    background: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vh;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media(max-width:900px){
    .goback{
        font-size: 2.5vh;
        top:3vh;
        left: 1vh;
    }
    .inp{
        width: 60%;
    }
}
@media(max-width:570px){
    .goback{
        font-size: 1.8vh;
        top:.1vh;
        left: .3vh;
    }
    .inp{
        margin-top: 2vh;
        width: 80%;
    }
}
@media(max-width:570px){
    .goback{
        font-size: 1.8vh;
        top:.1vh;
        left: .3vh;
    }
    .inp{
        margin-top: 2vh;
        width: 90%;
    }
}